.dark body {
    background-color: var(--darkMode-body-color);
    color: var(--darkMode-text-color)
}
.dark .btn.btn-primary {
    color: var(--darkMode-text-color)
}
.dark :is(h1,h2,h3),
.dark .contact-me .text-gray-900 {
    color: var(--white-color)
}
.dark .breadcrumb li:not(:last-child)::after {
    background-color: var(--white-color)
}
.dark .card-skills .card-skills__header,
.dark .contact-me.bg-gray-50 {
    background-color: var(--darkMode-card-1-color)
}
.dark [title=GITHUB].contact-me.bg-gray-50 i {
    color: var(--white-color);
}
.dark .typing-free ul li::before {
    background-color: var(--white-color)
}
.dark .kbar__animator,
.dark .kbar__animator input {
    background-color: var(--darkMode-card-1-color)
}